.attributeName {
  font-style: normal;
}
.attributesRow{
  display: flex;
  flex-direction: row;
}
.textAttribute {
  border: 1px solid #1d1f22;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
}
.swatchAttribute{
  width: 100%;
  height: 100%;
}
.swatchAttributeBorder {
  margin-right: 10px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pickedTextAttribute {
  background-color: black;
  color: white;
}
.pickedSwatchAttribute {
  border: 1px solid green;
}
